Source: anerd
Section: admin
Priority: optional
Maintainer: Dustin Kirkland <kirkland@ubuntu.com>
Build-Depends: debhelper (>= 7.0.50~),
 autotools-dev,
 autoconf,
 automake,
Standards-Version: 3.9.4
Homepage: http://launchpad.net/anerd

Package: anerd
Architecture: amd64 armel armhf i386 x32
Depends: ${misc:Depends}, anerd-server, anerd-client
Description: client and server of a network exchanged randomness daemon
 This daemon will gather and respond to network requests for
 entropy on UDP port 26373.  This is a metapackage that installs
 both the client and server.

Package: anerd-server
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, golang-go
Suggests: anerd-client
Description: server package of a network exchanged randomness daemon
 This daemon will gather and respond to network requests for
 entropy.  This is the server package.
 .
 There is a UDP component which can listen on any UDP port (26373 by default),
 as well as a TCP component, which can listen on an TCP Port and server web
 requests.  If the TCP port is 443, it will serve over an encrypted TLS
 connection.

Package: anerd-client
Architecture: all
Depends: ${misc:Depends}, run-one, socat, curl
Suggests: anerd-server, ent
Description: client package of a network exchanged randomness daemon
 This client will connect to anerd servers over UDP port 26373 and
 exchange entropy.
