[Unit]
Description=Seed the pseudo random number generator on first boot
Before=ssh.service
After=network-online.target
ConditionVirtualization=!container
ConditionPathExists=!/var/cache/pollinate/seeded

[Service]
User=pollinate
ExecStart=/usr/bin/pollinate
Type=oneshot

[Install]
WantedBy=multi-user.target
